{{template "header" .}}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
    <legend>成语查询</legend>
</fieldset>


<form class="layui-form" action="" method="POST">
    <div class="layui-form-item">
        <label class="layui-form-label">查找类型</label>
        <div class="layui-input-block">
            <input type="radio" name="type" value="1" title="模糊查找" checked=""> <span class="layui-bg-red" style="height: 20px;font-weight:bold;font-size: 21px;">需要等待二到三秒钟 官方规定</span>
            <hr>
            <input type="radio" name="type" value="2" title="精确查找">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">请输入成语关键字</label>
        <div class="layui-input-block">
            <textarea id="vod_content" name="keyword" type="text/plain" style="width:99%;height:250px"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">查询</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>

</form>

{{template "footer" .}}